//riverbloom theme. mocha is RiverBloom dark, latte is RiverBloom light
@catppuccin: {
    @latte: {
        @rosewater: #C47A72; 
        @flamingo: #B96868; 
        @pink: #A13879; 
        @mauve: #8C4D96; 
        @red: #AA3838; 
        @maroon: #C04B4B; 
        @peach: #BA6C23; 
        @yellow: #B59433; 
        @green: #217852; 
        @teal: #27817C; 
        @sky: #2197A9; 
        @sapphire: #3186A4; 
        @blue: #296AA4; 
        @lavender: #555A9C; 
        @text: #454545; 
        @subtext1: #515151; 
        @subtext0: #616161; 
        @overlay2: #717171; 
        @overlay1: #808080; 
        @overlay0: #909090; 
        @surface2: #A1A1A1; 
        @surface1: #B0B0B0; 
        @surface0: #C0C0C0; 
        @base: #DADADA; 
        @mantle: #D3D3D3; 
        @crust: #C4C4C4;
    }
    ;

    @mocha: {
        @rosewater: #EDAB9E; 
        @flamingo: #E795A7; 
        @pink: #F7B4E4; 
        @mauve: #B392F0; 
        @red: #F66355; 
        @maroon: #ED905E; 
        @peach: #EBBC47; 
        @yellow: #F8E159; 
        @green: #72C076; 
        @teal: #67EAE1; 
        @sky: #62D6EB; 
        @sapphire: #5FC3F0; 
        @blue: #5EA4ED; 
        @lavender: #C4B1FE; 
        @text: #D7D7D7; 
        @subtext1: #C3C3C3; 
        @subtext0: #AEAEAE; 
        @overlay2: #9A9A9A; 
        @overlay1: #858585; 
        @overlay0: #717171; 
        @surface2: #5C5C5C; 
        @surface1: #484848; 
        @surface0: #343434; 
        @base: #202020; 
        @mantle: #191919; 
        @crust: #121212;
    }
    ;
}
;

/* deno-fmt-ignore */
@catppuccin-filters: {
    @latte: {
    @rosewater: brightness(0) saturate(100%) invert(51%) sepia(25%) saturate(700%) hue-rotate(325deg) brightness(86%) contrast(88%);
    @flamingo:  brightness(0) saturate(100%) invert(48%) sepia(20%) saturate(850%) hue-rotate(320deg) brightness(86%) contrast(90%);
    @pink:      brightness(0) saturate(100%) invert(27%) sepia(70%) saturate(900%) hue-rotate(310deg) brightness(80%) contrast(90%);
    @mauve:     brightness(0) saturate(100%) invert(32%) sepia(35%) saturate(1100%) hue-rotate(250deg) brightness(75%) contrast(90%);

    @red:       brightness(0) saturate(100%) invert(28%) sepia(70%) saturate(1300%) hue-rotate(330deg) brightness(72%) contrast(95%);
    @maroon:    brightness(0) saturate(100%) invert(36%) sepia(55%) saturate(1100%) hue-rotate(335deg) brightness(78%) contrast(90%);
    @peach:     brightness(0) saturate(100%) invert(43%) sepia(80%) saturate(1100%) hue-rotate(355deg) brightness(78%) contrast(92%);
    @yellow:    brightness(0) saturate(100%) invert(62%) sepia(55%) saturate(900%) hue-rotate(15deg) brightness(78%) contrast(92%);

    @green:     brightness(0) saturate(100%) invert(40%) sepia(55%) saturate(700%) hue-rotate(105deg) brightness(65%) contrast(90%);
    @teal:      brightness(0) saturate(100%) invert(40%) sepia(55%) saturate(600%) hue-rotate(125deg) brightness(68%) contrast(90%);
    @sky:       brightness(0) saturate(100%) invert(52%) sepia(65%) saturate(700%) hue-rotate(145deg) brightness(78%) contrast(90%);
    @sapphire:  brightness(0) saturate(100%) invert(50%) sepia(65%) saturate(800%) hue-rotate(160deg) brightness(78%) contrast(90%);
    @blue:      brightness(0) saturate(100%) invert(46%) sepia(65%) saturate(900%) hue-rotate(175deg) brightness(75%) contrast(92%);
    @lavender:  brightness(0) saturate(100%) invert(36%) sepia(45%) saturate(1000%) hue-rotate(210deg) brightness(75%) contrast(90%);

    @text:      brightness(0) saturate(100%) invert(27%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(72%) contrast(90%);
    @subtext1:  brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(75%) contrast(88%);
    @subtext0:  brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(76%) contrast(85%);

    @overlay2: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(82%);
    @overlay1: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(82%) contrast(80%);
    @overlay0: brightness(0) saturate(100%) invert(56%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(84%) contrast(78%);

    @surface2: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(86%) contrast(76%);
    @surface1: brightness(0) saturate(100%) invert(69%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(88%) contrast(74%);
    @surface0: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(72%);

    @base:   brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%) contrast(70%);
    @mantle: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(91%) contrast(70%);
    @crust:  brightness(0) saturate(100%) invert(76%) sepia(0%) saturate(0%) hue-rotate(0deg);
    }
    ;

    @mocha: {
    @rosewater: brightness(0) saturate(100%) invert(73%) sepia(25%) saturate(600%) hue-rotate(320deg) brightness(105%) contrast(92%);
    @flamingo:  brightness(0) saturate(100%) invert(69%) sepia(28%) saturate(700%) hue-rotate(320deg) brightness(105%) contrast(92%);
    @pink:      brightness(0) saturate(100%) invert(80%) sepia(25%) saturate(700%) hue-rotate(310deg) brightness(108%) contrast(95%);
    @mauve:     brightness(0) saturate(100%) invert(68%) sepia(35%) saturate(1000%) hue-rotate(245deg) brightness(105%) contrast(95%);

    @red:       brightness(0) saturate(100%) invert(48%) sepia(65%) saturate(1500%) hue-rotate(325deg) brightness(108%) contrast(98%);
    @maroon:    brightness(0) saturate(100%) invert(63%) sepia(55%) saturate(1100%) hue-rotate(330deg) brightness(108%) contrast(95%);
    @peach:     brightness(0) saturate(100%) invert(69%) sepia(55%) saturate(1100%) hue-rotate(345deg) brightness(108%) contrast(95%);
    @yellow:    brightness(0) saturate(100%) invert(82%) sepia(50%) saturate(1000%) hue-rotate(15deg) brightness(108%) contrast(95%);

    @green:     brightness(0) saturate(100%) invert(70%) sepia(35%) saturate(850%) hue-rotate(105deg) brightness(100%) contrast(95%);
    @teal:      brightness(0) saturate(100%) invert(83%) sepia(55%) saturate(800%) hue-rotate(125deg) brightness(105%) contrast(95%);
    @sky:       brightness(0) saturate(100%) invert(79%) sepia(55%) saturate(900%) hue-rotate(150deg) brightness(105%) contrast(95%);
    @sapphire:  brightness(0) saturate(100%) invert(74%) sepia(60%) saturate(1000%) hue-rotate(165deg) brightness(105%) contrast(95%);
    @blue:      brightness(0) saturate(100%) invert(68%) sepia(60%) saturate(1100%) hue-rotate(180deg) brightness(108%) contrast(95%);
    @lavender:  brightness(0) saturate(100%) invert(75%) sepia(35%) saturate(900%) hue-rotate(210deg) brightness(108%) contrast(95%);

    @text:      brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(105%) contrast(90%);
    @subtext1:  brightness(0) saturate(100%) invert(76%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(90%);
    @subtext0:  brightness(0) saturate(100%) invert(68%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(96%) contrast(90%);

    @overlay2: brightness(0) saturate(100%) invert(60%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%) contrast(88%);
    @overlay1: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(88%);
    @overlay0: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(88%) contrast(88%);

    @surface2: brightness(0) saturate(100%) invert(36%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(86%) contrast(90%);
    @surface1: brightness(0) saturate(100%) invert(28%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(84%) contrast(92%);
    @surface0: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(82%) contrast(94%);

    @base:   brightness(0) saturate(100%) invert(13%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(96%);
    @mantle: brightness(0) saturate(100%) invert(10%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(78%) contrast(98%);
    @crust:  brightness(0) saturate(100%) invert(7%) sepia(0%) saturate(0%) hue-rotate(0deg); 
    }
    ;
}
;

#lib {
    .palette() {
        @rosewater: @catppuccin[@@flavor][@rosewater];
        @flamingo: @catppuccin[@@flavor][@flamingo];
        @pink: @catppuccin[@@flavor][@pink];
        @mauve: @catppuccin[@@flavor][@mauve];
        @red: @catppuccin[@@flavor][@red];
        @maroon: @catppuccin[@@flavor][@maroon];
        @peach: @catppuccin[@@flavor][@peach];
        @yellow: @catppuccin[@@flavor][@yellow];
        @green: @catppuccin[@@flavor][@green];
        @teal: @catppuccin[@@flavor][@teal];
        @sky: @catppuccin[@@flavor][@sky];
        @sapphire: @catppuccin[@@flavor][@sapphire];
        @blue: @catppuccin[@@flavor][@blue];
        @lavender: @catppuccin[@@flavor][@lavender];
        @text: @catppuccin[@@flavor][@text];
        @subtext1: @catppuccin[@@flavor][@subtext1];
        @subtext0: @catppuccin[@@flavor][@subtext0];
        @overlay2: @catppuccin[@@flavor][@overlay2];
        @overlay1: @catppuccin[@@flavor][@overlay1];
        @overlay0: @catppuccin[@@flavor][@overlay0];
        @surface2: @catppuccin[@@flavor][@surface2];
        @surface1: @catppuccin[@@flavor][@surface1];
        @surface0: @catppuccin[@@flavor][@surface0];
        @base: @catppuccin[@@flavor][@base];
        @mantle: @catppuccin[@@flavor][@mantle];
        @crust: @catppuccin[@@flavor][@crust];
        @accent: @catppuccin[@@flavor][@@accentColor];

        @rosewater-filter: @catppuccin-filters[@@flavor][@rosewater];
        @flamingo-filter: @catppuccin-filters[@@flavor][@flamingo];
        @pink-filter: @catppuccin-filters[@@flavor][@pink];
        @mauve-filter: @catppuccin-filters[@@flavor][@mauve];
        @red-filter: @catppuccin-filters[@@flavor][@red];
        @maroon-filter: @catppuccin-filters[@@flavor][@maroon];
        @peach-filter: @catppuccin-filters[@@flavor][@peach];
        @yellow-filter: @catppuccin-filters[@@flavor][@yellow];
        @green-filter: @catppuccin-filters[@@flavor][@green];
        @teal-filter: @catppuccin-filters[@@flavor][@teal];
        @sky-filter: @catppuccin-filters[@@flavor][@sky];
        @sapphire-filter: @catppuccin-filters[@@flavor][@sapphire];
        @blue-filter: @catppuccin-filters[@@flavor][@blue];
        @lavender-filter: @catppuccin-filters[@@flavor][@lavender];
        @text-filter: @catppuccin-filters[@@flavor][@text];
        @subtext1-filter: @catppuccin-filters[@@flavor][@subtext1];
        @subtext0-filter: @catppuccin-filters[@@flavor][@subtext0];
        @overlay2-filter: @catppuccin-filters[@@flavor][@overlay2];
        @overlay1-filter: @catppuccin-filters[@@flavor][@overlay1];
        @overlay0-filter: @catppuccin-filters[@@flavor][@overlay0];
        @surface2-filter: @catppuccin-filters[@@flavor][@surface2];
        @surface1-filter: @catppuccin-filters[@@flavor][@surface1];
        @surface0-filter: @catppuccin-filters[@@flavor][@surface0];
        @base-filter: @catppuccin-filters[@@flavor][@base];
        @mantle-filter: @catppuccin-filters[@@flavor][@mantle];
        @crust-filter: @catppuccin-filters[@@flavor][@crust];
        @accent-filter: @catppuccin-filters[@@flavor][@@accentColor];
    }

    .defaults() {
        color-scheme: if( (@flavor =latte),
        light,
        dark);

        ::selection {
            background-color: fade(@accent, 30%);
        }

        input,
        textarea {
            &::placeholder {
                color: @subtext0 !important;
            }
        }
    }

    .rgbify(@color) {
        @rgb: red(@color),
        green(@color),
        blue(@color);
    }

    .hslify(@color) {
        @raw: e( %("%s, %s%, %s%", hue(@color), saturation(@color), lightness(@color)));
    }

    .css-variables() {
        --ctp-rosewater: @rosewater;
        --ctp-flamingo: @flamingo;
        --ctp-pink: @pink;
        --ctp-mauve: @mauve;
        --ctp-red: @red;
        --ctp-maroon: @maroon;
        --ctp-peach: @peach;
        --ctp-yellow: @yellow;
        --ctp-green: @green;
        --ctp-teal: @teal;
        --ctp-sky: @sky;
        --ctp-sapphire: @sapphire;
        --ctp-blue: @blue;
        --ctp-lavender: @lavender;
        --ctp-text: @text;
        --ctp-subtext1: @subtext1;
        --ctp-subtext0: @subtext0;
        --ctp-overlay2: @overlay2;
        --ctp-overlay1: @overlay1;
        --ctp-overlay0: @overlay0;
        --ctp-surface2: @surface2;
        --ctp-surface1: @surface1;
        --ctp-surface0: @surface0;
        --ctp-base: @base;
        --ctp-mantle: @mantle;
        --ctp-crust: @crust;
    }
}

/* RiverBloom automatic theme selection:
   System light appearance  -> Latte
   System dark appearance   -> Mocha
*/
#catppuccin(@flavor) {
    #lib.palette();
    #lib.defaults();
    #lib.css-variables();
}

@media (prefers-color-scheme: light) {
    #catppuccin(latte);
}

@media (prefers-color-scheme: dark) {
    #catppuccin(mocha);
}
