//riverbloom theme. mocha is RiverBloom dark, latte is RiverBloom light
@catppuccin: {
    @latte: {
        @rosewater: #C47A72; 
        @flamingo: #B96868; 
        @pink: #A13879; 
        @mauve: #8C4D96; 
        @red: #AA3838; 
        @maroon: #C04B4B; 
        @peach: #BA6C23; 
        @yellow: #B59433; 
        @green: #217852; 
        @teal: #27817C; 
        @sky: #2197A9; 
        @sapphire: #3186A4; 
        @blue: #296AA4; 
        @lavender: #555A9C; 
        @text: #454545; 
        @subtext1: #515151; 
        @subtext0: #616161; 
        @overlay2: #717171; 
        @overlay1: #808080; 
        @overlay0: #909090; 
        @surface2: #A1A1A1; 
        @surface1: #B0B0B0; 
        @surface0: #C0C0C0; 
        @base: #DADADA; 
        @mantle: #D3D3D3; 
        @crust: #C4C4C4;
    }
    ;

    @mocha: {
        @rosewater: #F2A08F; @flamingo: #CB8D9B; @pink: #D2ACC7; @mauve: #AFA0CB; @red: #C87475; @maroon: #BB8B8B; @peach: #D2966B; @yellow: #E5CB78; @green: #51B78B; @teal: #85C0B6; @sky: #5CA9B4; @sapphire: #80BAD4; @blue: #6394BF; @lavender: #A3ADEB; @text: ##CECABE; @subtext1: #C3C3C3; @subtext0: #AEAEAE; @overlay2: #9A9A9A; @overlay1: #858585; @overlay0: #717171; @surface2: #5C5C5C; @surface1: #484848; @surface0: #343434; @base: #202020; @mantle: #191919; @crust: #121212;
    }
    ;
}
;

/* deno-fmt-ignore */
@catppuccin-filters: {
    @latte: {
    @rosewater: brightness(0) saturate(100%) invert(51%) sepia(25%) saturate(700%) hue-rotate(325deg) brightness(86%) contrast(88%);
    @flamingo:  brightness(0) saturate(100%) invert(48%) sepia(20%) saturate(850%) hue-rotate(320deg) brightness(86%) contrast(90%);
    @pink:      brightness(0) saturate(100%) invert(27%) sepia(70%) saturate(900%) hue-rotate(310deg) brightness(80%) contrast(90%);
    @mauve:     brightness(0) saturate(100%) invert(32%) sepia(35%) saturate(1100%) hue-rotate(250deg) brightness(75%) contrast(90%);

    @red:       brightness(0) saturate(100%) invert(28%) sepia(70%) saturate(1300%) hue-rotate(330deg) brightness(72%) contrast(95%);
    @maroon:    brightness(0) saturate(100%) invert(36%) sepia(55%) saturate(1100%) hue-rotate(335deg) brightness(78%) contrast(90%);
    @peach:     brightness(0) saturate(100%) invert(43%) sepia(80%) saturate(1100%) hue-rotate(355deg) brightness(78%) contrast(92%);
    @yellow:    brightness(0) saturate(100%) invert(62%) sepia(55%) saturate(900%) hue-rotate(15deg) brightness(78%) contrast(92%);

    @green:     brightness(0) saturate(100%) invert(40%) sepia(55%) saturate(700%) hue-rotate(105deg) brightness(65%) contrast(90%);
    @teal:      brightness(0) saturate(100%) invert(40%) sepia(55%) saturate(600%) hue-rotate(125deg) brightness(68%) contrast(90%);
    @sky:       brightness(0) saturate(100%) invert(52%) sepia(65%) saturate(700%) hue-rotate(145deg) brightness(78%) contrast(90%);
    @sapphire:  brightness(0) saturate(100%) invert(50%) sepia(65%) saturate(800%) hue-rotate(160deg) brightness(78%) contrast(90%);
    @blue:      brightness(0) saturate(100%) invert(46%) sepia(65%) saturate(900%) hue-rotate(175deg) brightness(75%) contrast(92%);
    @lavender:  brightness(0) saturate(100%) invert(36%) sepia(45%) saturate(1000%) hue-rotate(210deg) brightness(75%) contrast(90%);

    @text:      brightness(0) saturate(100%) invert(27%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(72%) contrast(90%);
    @subtext1:  brightness(0) saturate(100%) invert(31%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(75%) contrast(88%);
    @subtext0:  brightness(0) saturate(100%) invert(38%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(76%) contrast(85%);

    @overlay2: brightness(0) saturate(100%) invert(44%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(82%);
    @overlay1: brightness(0) saturate(100%) invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(82%) contrast(80%);
    @overlay0: brightness(0) saturate(100%) invert(56%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(84%) contrast(78%);

    @surface2: brightness(0) saturate(100%) invert(63%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(86%) contrast(76%);
    @surface1: brightness(0) saturate(100%) invert(69%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(88%) contrast(74%);
    @surface0: brightness(0) saturate(100%) invert(75%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(72%);

    @base:   brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(92%) contrast(70%);
    @mantle: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(91%) contrast(70%);
    @crust:  brightness(0) saturate(100%) invert(76%) sepia(0%) saturate(0%) hue-rotate(0deg);
    }
    ;

    @mocha: {
        @rosewater: brightness(0) saturate(100%) invert(39.15%) sepia(68.24%) saturate(474.83%) hue-rotate(327.15deg) brightness(215.66%) contrast(40.60%);
        @flamingo:  brightness(0) saturate(100%) invert(24.12%) sepia(39.33%) saturate(222.27%) hue-rotate(300.59deg) brightness(217.20%) contrast(157.31%);
        @pink:      brightness(0) saturate(100%) invert(64.42%) sepia(47.03%) saturate(333.73%) hue-rotate(269.10deg) brightness(183.66%) contrast(26.55%);
        @mauve:     brightness(0) saturate(100%) invert(61.01%) sepia(73.01%) saturate(296.14%) hue-rotate(223.70deg) brightness(140.79%) contrast(30.62%);
        
        @red:       brightness(0) saturate(100%) invert(84.14%) sepia(54.96%) saturate(444.38%) hue-rotate(314.74deg) brightness(56.03%) contrast(89.25%);
        @maroon:    brightness(0) saturate(100%) invert(21.44%) sepia(35.14%) saturate(248.93%) hue-rotate(315.48deg) brightness(245.20%) contrast(128.26%);
        @peach:     brightness(0) saturate(100%) invert(38.17%) sepia(75.72%) saturate(407.04%) hue-rotate(346.66deg) brightness(161.34%) contrast(57.85%);
        @yellow:    brightness(0) saturate(100%) invert(37.75%) sepia(66.82%) saturate(211.65%) hue-rotate(12.59deg) brightness(159.93%) contrast(153.04%);
        
        @green:     brightness(0) saturate(100%) invert(58.84%) sepia(52.42%) saturate(338.57%) hue-rotate(106.42deg) brightness(90.68%) contrast(126.47%);
        @teal:      brightness(0) saturate(100%) invert(34.04%) sepia(48.49%) saturate(363.09%) hue-rotate(124.44deg) brightness(247.08%) contrast(46.66%);
        @sky:       brightness(0) saturate(100%) invert(34.38%) sepia(95.65%) saturate(189.60%) hue-rotate(143.77deg) brightness(141.54%) contrast(114.27%);
        @sapphire:  brightness(0) saturate(100%) invert(89.00%) sepia(66.94%) saturate(392.23%) hue-rotate(157.85deg) brightness(93.74%) contrast(41.22%);
        @blue:      brightness(0) saturate(100%) invert(23.88%) sepia(54.19%) saturate(429.09%) hue-rotate(170.73deg) brightness(210.03%) contrast(84.46%);
        @lavender:  brightness(0) saturate(100%) invert(53.92%) sepia(65.27%) saturate(386.91%) hue-rotate(198.67deg) brightness(147.77%) contrast(45.64%);
        
        @text:      brightness(0) saturate(100%) invert(42.54%) sepia(21.21%) saturate(85.87%) hue-rotate(11.84deg) brightness(153.20%) contrast(160.50%);
        @subtext1:  brightness(0) saturate(100%) invert(50.79%) sepia(11.02%) saturate(0%) hue-rotate(8.08deg) brightness(125.04%) contrast(175.94%);
        @subtext0:  brightness(0) saturate(100%) invert(70.05%) sepia(0%) saturate(7.75%) hue-rotate(315.54deg) brightness(187.22%) contrast(22.47%);
        
        @overlay2: brightness(0) saturate(100%) invert(30.33%) sepia(5.22%) saturate(0%) hue-rotate(240deg) brightness(242.97%) contrast(42.37%);
        @overlay1: brightness(0) saturate(100%) invert(57.71%) sepia(0.10%) saturate(0%) hue-rotate(5.75deg) brightness(248.60%) contrast(2.31%);
        @overlay0: brightness(0) saturate(100%) invert(14.81%) sepia(0.16%) saturate(0.26%) hue-rotate(39.53deg) brightness(48.98%) contrast(13.30%);
        
        @surface2: brightness(0) saturate(100%) invert(0%) sepia(0.20%) saturate(0.10%) hue-rotate(109.64deg) brightness(108.86%) contrast(27.85%);
        @surface1: brightness(0) saturate(100%) invert(12.31%) sepia(0%) saturate(22.57%) hue-rotate(331.87deg) brightness(10.15%) contrast(44.69%);
        @surface0: brightness(0) saturate(100%) invert(20.97%) sepia(0%) saturate(2.80%) hue-rotate(315.70deg) brightness(0.78%) contrast(59.41%);
        
        @base:   brightness(0) saturate(100%) invert(38.92%) sepia(0.59%) saturate(0.05%) hue-rotate(286.46deg) brightness(0.56%) contrast(75.23%);
        @mantle: brightness(0) saturate(100%) invert(0.08%) sepia(0.36%) saturate(21.35%) hue-rotate(276.24deg) brightness(0.04%) contrast(80.39%);
        @crust:  brightness(0) saturate(100%) invert(18.10%) sepia(0.13%) saturate(1.61%) hue-rotate(91.59deg) brightness(0.05%) contrast(85.90%);
    }
    ;
}
;

#lib {
    .palette() {
        @rosewater: @catppuccin[@@flavor][@rosewater];
        @flamingo: @catppuccin[@@flavor][@flamingo];
        @pink: @catppuccin[@@flavor][@pink];
        @mauve: @catppuccin[@@flavor][@mauve];
        @red: @catppuccin[@@flavor][@red];
        @maroon: @catppuccin[@@flavor][@maroon];
        @peach: @catppuccin[@@flavor][@peach];
        @yellow: @catppuccin[@@flavor][@yellow];
        @green: @catppuccin[@@flavor][@green];
        @teal: @catppuccin[@@flavor][@teal];
        @sky: @catppuccin[@@flavor][@sky];
        @sapphire: @catppuccin[@@flavor][@sapphire];
        @blue: @catppuccin[@@flavor][@blue];
        @lavender: @catppuccin[@@flavor][@lavender];
        @text: @catppuccin[@@flavor][@text];
        @subtext1: @catppuccin[@@flavor][@subtext1];
        @subtext0: @catppuccin[@@flavor][@subtext0];
        @overlay2: @catppuccin[@@flavor][@overlay2];
        @overlay1: @catppuccin[@@flavor][@overlay1];
        @overlay0: @catppuccin[@@flavor][@overlay0];
        @surface2: @catppuccin[@@flavor][@surface2];
        @surface1: @catppuccin[@@flavor][@surface1];
        @surface0: @catppuccin[@@flavor][@surface0];
        @base: @catppuccin[@@flavor][@base];
        @mantle: @catppuccin[@@flavor][@mantle];
        @crust: @catppuccin[@@flavor][@crust];
        @accent: @catppuccin[@@flavor][@@accentColor];

        @rosewater-filter: @catppuccin-filters[@@flavor][@rosewater];
        @flamingo-filter: @catppuccin-filters[@@flavor][@flamingo];
        @pink-filter: @catppuccin-filters[@@flavor][@pink];
        @mauve-filter: @catppuccin-filters[@@flavor][@mauve];
        @red-filter: @catppuccin-filters[@@flavor][@red];
        @maroon-filter: @catppuccin-filters[@@flavor][@maroon];
        @peach-filter: @catppuccin-filters[@@flavor][@peach];
        @yellow-filter: @catppuccin-filters[@@flavor][@yellow];
        @green-filter: @catppuccin-filters[@@flavor][@green];
        @teal-filter: @catppuccin-filters[@@flavor][@teal];
        @sky-filter: @catppuccin-filters[@@flavor][@sky];
        @sapphire-filter: @catppuccin-filters[@@flavor][@sapphire];
        @blue-filter: @catppuccin-filters[@@flavor][@blue];
        @lavender-filter: @catppuccin-filters[@@flavor][@lavender];
        @text-filter: @catppuccin-filters[@@flavor][@text];
        @subtext1-filter: @catppuccin-filters[@@flavor][@subtext1];
        @subtext0-filter: @catppuccin-filters[@@flavor][@subtext0];
        @overlay2-filter: @catppuccin-filters[@@flavor][@overlay2];
        @overlay1-filter: @catppuccin-filters[@@flavor][@overlay1];
        @overlay0-filter: @catppuccin-filters[@@flavor][@overlay0];
        @surface2-filter: @catppuccin-filters[@@flavor][@surface2];
        @surface1-filter: @catppuccin-filters[@@flavor][@surface1];
        @surface0-filter: @catppuccin-filters[@@flavor][@surface0];
        @base-filter: @catppuccin-filters[@@flavor][@base];
        @mantle-filter: @catppuccin-filters[@@flavor][@mantle];
        @crust-filter: @catppuccin-filters[@@flavor][@crust];
        @accent-filter: @catppuccin-filters[@@flavor][@@accentColor];
    }

    .defaults() {
        color-scheme: if( (@flavor =latte),
        light,
        dark);

        ::selection {
            background-color: fade(@accent, 30%);
        }

        input,
        textarea {
            &::placeholder {
                color: @subtext0 !important;
            }
        }
    }

    .rgbify(@color) {
        @rgb: red(@color),
        green(@color),
        blue(@color);
    }

    .hslify(@color) {
        @raw: e( %("%s, %s%, %s%", hue(@color), saturation(@color), lightness(@color)));
    }

    .css-variables() {
        --ctp-rosewater: @rosewater;
        --ctp-flamingo: @flamingo;
        --ctp-pink: @pink;
        --ctp-mauve: @mauve;
        --ctp-red: @red;
        --ctp-maroon: @maroon;
        --ctp-peach: @peach;
        --ctp-yellow: @yellow;
        --ctp-green: @green;
        --ctp-teal: @teal;
        --ctp-sky: @sky;
        --ctp-sapphire: @sapphire;
        --ctp-blue: @blue;
        --ctp-lavender: @lavender;
        --ctp-text: @text;
        --ctp-subtext1: @subtext1;
        --ctp-subtext0: @subtext0;
        --ctp-overlay2: @overlay2;
        --ctp-overlay1: @overlay1;
        --ctp-overlay0: @overlay0;
        --ctp-surface2: @surface2;
        --ctp-surface1: @surface1;
        --ctp-surface0: @surface0;
        --ctp-base: @base;
        --ctp-mantle: @mantle;
        --ctp-crust: @crust;
    }
}

/* RiverBloom automatic theme selection:
   System light appearance  -> Latte
   System dark appearance   -> Mocha
*/
#catppuccin(@flavor) {
    #lib.palette();
    #lib.defaults();
    #lib.css-variables();
}

@media (prefers-color-scheme: light) {
    #catppuccin(latte);
}

@media (prefers-color-scheme: dark) {
    #catppuccin(mocha);
}
