/*================ GLOBAL COLORS ================*/
:root {
	--accent-color: 54, 54, 54;
	--secondary-accent-color: 140, 140, 140;
	--third-accent-color: 190, 190, 190;
	--light-color: 255, 255, 255;
	--dark-color: 20, 20, 20;
	--caption-min-color: 245, 245, 245;
	--caption-max-color: 245, 245, 245;
	--caption-close-color: 245, 245, 245;
}
